/* -------------- Generelle Regler ---------*/
html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

footer {
    text-align: center;
}

body {
    background-color: #EEEAE5;
    max-width: 1200px;
    margin: auto;
}

img {
    width: 100%;
}

.logo {
    width: 90%;
    margin: auto;
}


/* --------------  FORSIDE  ---------------  */

#forside body {
    background-color: #EEEAE5;
    max-width: 1200px;
    margin: auto;
}

#forside {
    max-width: 1200px;
    margin: auto;

}

#forside .menu {
    top: 0vw;
    right: 40vw;

}



#forside .container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}




#forside .column {
    flex-grow: 1;
    flex-basis: 350px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}


#forside .txt {
    align-content: center;
    display: flex;
    color: #fff;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}



/* ----------  ENKELTE  BILLEDER PÅ FORSIDEN --------------  */

#forside .felt1 {
    background-image: url(img/tilmelding.jpg);
    background-size: cover;



}

#forside .overlay1 {
    position: absolute;
    background-color: rgba(167, 103, 18, 0.5);
    width: 100%;
    height: 100%;
}



#forside .overlay1:hover {
    background-color: rgba(0, 0, 0, 0);
}


#forside .felt1 {
    background-image: url(img/tilmelding.jpg);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



#forside .felt2 {
    background-image: url(img/program_og_rute.jpg);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#forside .overlay2 {
    position: absolute;
    background-color: rgba(186, 91, 157, 0.5);
    width: 100%;
    height: 100%;
}



#forside .overlay2:hover {
    background-color: rgb(0, 0, 0, 0);
    filter: blur(50px)
}




#forside .felt3 {
    background-image: url(img/sponsorer.jpg);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#forside .overlay3 {
    position: absolute;
    background-color: rgba(53, 98, 168, 0.5);
    width: 100%;
    height: 100%;
}



#forside .overlay3:hover {
    background-color: rgba(0, 0, 0, 0);
}




#forside .felt4 {
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

}





#forside .felt5 {
    background-image: url(img/resultater.jpg);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



#forside .overlay5 {
    position: absolute;
    background-color: rgba(191, 91, 91, 0.5);
    width: 100%;
    height: 100%;
}



#forside .overlay5:hover {
    background-color: rgba(0, 0, 0, 0);
}



#forside .felt6 {
    background-image: url(img/stoet_haerloebet.jpg);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#forside .overlay6 {
    position: absolute;
    background-color: rgba(118, 107, 47, 0.5);
    width: 100%;
    height: 100%;
}



#forside .overlay6:hover {
    background-color: rgba(0, 0, 0, 0);
}



#forside .felt7 {
    background-image: url(img/galleri.jpg);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#forside .overlay7 {
    position: absolute;
    background-color: rgba(21, 59, 17, 0.5);
    width: 100%;
    height: 100%;
}



#forside .overlay7:hover {
    background-color: rgba(0, 0, 0, 0);
}




#forside .felt8 {
    background-image: url(img/om_haerloebet.jpg);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#forside .overlay8 {
    position: absolute;
    background-color: rgba(8, 39, 142, 0.5);
    width: 100%;
    height: 100%;
}



#forside .overlay8:hover {
    background-color: rgba(0, 0, 0, 0);
}




#forside .felt9 {
    background-image: url(img/kontakt.jpg);
    background-size: 100%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#forside .overlay9 {
    position: absolute;
    background-color: rgba(81, 39, 113, 0.5);
    width: 100%;
    height: 100%;
}



#forside .overlay9:hover {
    background-color: rgba(0, 0, 0, 0);
}




/* --------------   FONTS: --------------------    */

h3 {
    font-size: 2.3rem;
    font-family: facto,
        sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#højre_side a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: darkolivegreen;
    margin: 30px;
}


p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;


}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;

}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1500;
    font-style: bold;
    font-size: 5rem;
    text-decoration: none;

}

.midt {
    text-decoration: none;
    color: black;
}

/* ------------ MEDIA QUERY -------------- */



@media screen and (max-width: 400px) {
    #forside .column {
        flex-grow: 1;
        flex-basis: 350px;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;

    }
}


@media screen and (max-width: 400px) {
    #forside .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 400px) {
    .splash {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        width: 65%;
        margin: auto;
    }
}


/* --------- 1217 px media query ---------------- */


@media screen and (max-width: 1217px) {
    #forside .column {
        flex-grow: 1;
        flex-basis: 350px;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;

    }
}


@media screen and (max-width: 1217px) {
    #forside .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 1217px) {
    .splash {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        width: 55%;
        margin: auto;
    }
}



/* --------- BURGERMENU ---------------- */

nav {
    width: 300px;
    height: 100vh;
    background-color: #212121;
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 110;
    display: flex;
    z-index: 15;
}

.menu_links {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

.menu_links a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;
    transition: background-size .3s;
    color: white;
    padding: 10px 0;
    padding-left: 30px;
    width: 100%;
    transition: all 0.5s;
}

.menu_links a:hover {
    background-color: #3f3f3f;
}

.selected {
    background-color: #3f3f3f;
}

#burger_knap {
    position: fixed;
    top: 13vh;
    right: 30px;
    width: 55px;
    height: 55px;
    /*    transition: .5s ease-in-out;*/
    cursor: pointer;
    background-size: 100%;
    z-index: 130;
    background-color: black;
}

#burger_knap div {
    display: block;
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#burger_knap div:nth-child(1) {
    top: calc(50% - 9.5px);
    left: calc(50% - 12.5px);
}

#burger_knap div:nth-child(2),
#burger_knap div:nth-child(3) {
    top: calc(50% - 1.5px);
    left: calc(50% - 12.5px);
}

#burger_knap div:nth-child(4) {
    top: calc(50% + 6px);
    left: calc(50% - 12.5px);
}

#burger_knap.open div:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#burger_knap.open div:nth-child(2) {
    transform: rotate(45deg);
}

#burger_knap.open div:nth-child(3) {
    transform: rotate(-45deg);
}

#burger_knap.open div:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.toggle_menu {
    transform: translateX(100%);
}


/* -------------- TILMELDING ---------------*/

#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 300px;
}


#top {
    flex-wrap: wrap;
    display: flex;

}

#venstre_side {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    background-size: 100%;
    width: 100%;
    flex-wrap: wrap;
}

#højre_side {
    flex-grow: 1;
    flex-basis: 300px;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;

}

/* -------------- PROGRAM ---------------*/
.program {
    margin: 10px;
}



/* -------------- OM HÆRLØBET ---------------*/
.om_tekst {
    margin-left: 20px;
}

/* -------------- KONTAKT ---------------*/

/* IKONER */


.fa {
    padding: 15px;
    font-size: 1.5rem;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 3px 3px;
    border-radius: 100%;
}

.fa:hover {
    opacity: 1;
    color: bisque;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #F40083;
    color: white;
}




/* ------------ SPONSORER ----------------*/

#sponsorer {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;



}


.item {
    margin: 10px;
    background-color: white;
    padding: 10px;
}

.sponsornavn {
    text-align: center;
}

.sponsor_img {}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
